/* universal selector for box size, padding, and margin */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body element specific background color */
body {
    background-color: #d9dcd6;
}

/* anchor elements have specific text color */
a {
    color: #ffffff;
    text-decoration: none;
}

/* paragraph elements have specific font size */
p {
    font-size: 16px;
}

/* header has specific padding, font family, background color, and text color */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Horiseon (in header) has specific display (inline-block) and font size */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* seo from Horiseon (in header) specific text color (overwrites header text color)*/
header h1 .seo {
    color: #d9dcd6;
}

/* header navigation elements has specific padding, margin, float, font family, and font size */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* header anchor elements have specific list style type (none), display (inline-block), and margin */
header a {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/* figure image (main big pic on website) has specific height, width, margin, fit (cover), and position (center) */
figure img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover;
    object-position: center;
}

/* main elements (search engine optimization, online reputation management, and social media marketing) have specific width, display (inline-block), and margin */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* headers in main (Search Engine Optimization, Online Reputation Management, and Social Media Marketing) have specific margin and font size */
main h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* main section have specific margin, padding, height, font family, background color, and text color */
.main-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* image is put on the left side of its section */
.img-left {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

/* image is put on the right side of its section */
#img-right {
    max-height: 200px;
    float: right;
    margin-left: 25px;
}

/* aside elements have specific margin, padding, clear, float, width, height, font family, and background color  */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* hearder in aside (Lead Generation, Brand Awareness, and Cost Management) have specific margin and text alignment */
aside h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* aside images have specific display, margin, and max width */
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* aside section have specific margin and text color */
.aside-section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* footer has specific padding, clear, font family, and text alignment */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* header in footer has specific font size */
footer h4 {
    font-size: 20px;
}
